<h1>Editing device_assignment</h1>

<%= render 'form' %>

<%= link_to 'Show', @device_assignment %> |
<%= link_to 'Back', device_assignments_path %> |
<%= link_to 'Destroy', @device_assignment, confirm: 'Are you sure?', method: :delete %>
